{% load static %}
<!DOCTYPE html>
<head>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>{{ SITE_NAME }} | {% block title %}News{% endblock %}</title>
		<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
		<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'styles/main.css' %}">
		{% block custom_css %}{% endblock %}
	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<h1>{{ SITE_NAME }} - your daily source of news.</h1>
			</div>
			{% block content %}
			{% endblock %}
		</div>
		<footer class="footer">
			<div class="container">
				<p class="text-muted">{% now 'Y' %} - {{ SITE_NAME }}</p>
			</div>
		</footer>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="{% static 'scripts/main.js' %}"></script>
		{% block custom_js %}{% endblock %}
	</body>
</html>
